<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBSQ2YpWCgCKOslSfMMAGP1Gkw9afsfx8</string>
	<key>GCM_SENDER_ID</key>
	<string>306394450146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Noa-Yarden.MyToDoApp</string>
	<key>PROJECT_ID</key>
	<string>mytodolistapp-3015a</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolistapp-3015a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306394450146:ios:9e0d4fb3b7a66ea24676bb</string>
	<key>DATABASE_URL</key>
	<string>https://mytodolistapp-3015a-default-rtdb.firebaseio.com</string>
</dict>
</plist>